<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="loadData();">Load data</button>
            <ngb-alert type="danger" [dismissible]="false" *ngIf="showErrorMessage">
                <strong>Pozor!</strong> Minimálně jedno políčko musí býti zaškrtlé!
            </ngb-alert>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <ng-container *ngFor="let cb of checkboxes">
                <input type="checkbox" [(ngModel)]="cb.isSelected" class="form-check-input" id="{{ cb.value }}" />
                <label for="{{ cb.value }}">{{ cb.value }}</label>
            </ng-container>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-responsive" *ngIf="showTable">
                <thead>
                    <tr>
                        <th *ngFor="let col of cols" (click)="colName = col;">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of individualData | sort: colName">
                        <td>{{ player.team }}</td>
                        <td>{{ player.player }}</td>
                        <td>{{ calculateMinutes(player.toi) }}:{{ calculateSeconds(player.toi) }}</td>
                        <td>{{ player.gp }}</td>
                        <td *ngIf="player.xg60">{{ player.xg60 }}</td>
                        <td *ngIf="player.c60">{{ player.c60 }}</td>
                        <td *ngIf="player.sogc_pct">{{ player.sogc_pct }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>